
body {
    /*background-color: #F8F8F8;*/
    /*margin-left: 5%;*/
    /*margin-top: 2.5%;*/
    margin-bottom: 5%;/*
    margin-right: 5%*/
    /*width: 100%; text-align: center;*/
    /*background: white url("images/logo.png") no-repeat right bottom;*/
}

.replace {
display:none;
;
}

#editor { 
  margin-left: 15px;
  margin-top: 15px;
  width: 1000px;
  height: 400px;
}

.wrapper {
    border:1px solid #E5E7E8;
    display:inline-block;
    border-style: solid;
    border-radius: 25px;
    /*overflow:hidden;*/
}

button {
    background-color:#E5E7E8;
    border:0;
    border-style: solid;
}

#fork_text
{	
	/*border-radius: 25px;*/
    background-color:transparent;
    border:0;
    border-style: solid;
}

#delete
{	
	/*border-radius: 25px;*/
    background-color:transparent;
    border:0;
}

/*#fork{
    
}'*/