
body {
    margin-bottom: 5%;
}

.replace {
display:none;
;
}

#editor { 
  margin-left: 15px;
  margin-top: 15px;
  width: 1000px;
  height: 400px;
}

.wrapper {
    border:2px solid #E5E7E8;
    display:inline-block;
    border-style: solid;
    border-radius: 15px;
    overflow:hidden;
}

button {
    background-color:#E5E7E8;
    border:0;
    border-style: solid;
}

#fork_text
{	
    margin-left:10px;
    background-color:transparent;
    border:0;
    border-style: solid;
}

#delete
{	
    background-color:transparent;
    border:0;
}
