<head>CodeMirror</head>

{% load staticfiles %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="{% static "js/myjs.js" %}"></script>

<!-- <img src="{% static "CodeTable_app/XX.JPG" %}" alt="My image"/> -->
<link rel="stylesheet" type="text/css" href="{% static 'CodeTable_app/style.css' %}" />

<body></body>
<script type="text/javascript">console.log()</script>
<strong id="like_count">Aman Singh</strong>

<p id = "changed">Showing the text Area<br></p>

<p hidden id="myVar" name="variable">{{ obj_as_json }}</p>


<h4>Submit your code here</h4>
<form>{% csrf_token %}
    <input type="hidden" value="{{problems.id}}" name="pid">
    <input type="hidden" value="{{problems.contest_id}}" name="cid">
    <textarea rows="25" cols="50" name="solutionBox" id="solutionBox">{{language.c.1}}
    </textarea>
    <br><br>

    
    <br><br>
    <input type="submit" class="btn btn-primary" value="Submit">
</form>

<select name="lid" id="lid" >

</select>

<p>

<strong id="like_count">{{ language }}</strong> people like this category

<button id="submit_button" data-catid="{{category.id}}" class="btn btn-primary" type="button">
	<span class="glyphicon glyphicon-thumbs-up"></span>
Submit
</button>

<button id="compile_button" data-catid="{{category.id}}" class="btn btn-primary" type="button">
	<span class="glyphicon glyphicon-thumbs-up"></span>
Compile
</button>

<button id="run_button" data-catid="{{category.id}}" class="btn btn-primary" type="button">
	<span class="glyphicon glyphicon-thumbs-up"></span>
Run
</button>

<button id="save_button" data-catid="{{category.id}}" class="btn btn-primary" type="button">
	<span class="glyphicon glyphicon-thumbs-up"></span>
Save
</button>

</p>
